<h1><%= @article.title %></h1>
<%= link_to "EDIT", edit_article_path(@article)  %>
<%= link_to "DELETE", article_path(@article), data: {
  turbo_method: :delete,
  turbo_confirm: "ARE YOU SURE?"
}  %>

<p><%= @article.content %></p>
